span.wpfep-help-tip.dashicons.dashicons-editor-help {
    margin: 2px 5px 0 0;
}
.wpfep-ui-tooltip{
	padding: 7px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    background: #333 !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(214, 214, 214, 0.5);
    box-shadow: 1px 1px 2px 1px rgba(214, 214, 214, 0.5);
    color: #dedede !important;
    text-rendering: optimizeLegibility;
    text-shadow: none !important;
    white-space: pre-line;
    word-wrap: break-word;
    border-width: 1px;
}