/* tab styles
-------------------------------------------------------------- */
ul.wpfep-tabs {
	border-bottom-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 0;
	font-size: 23px;
	font-weight: 400;
	line-height: 29px;
	margin-bottom: 16px;
	list-style-type: none;
}
ul#wpfep-tabs {
	padding: 0;
	margin-bottom: 16px;
	margin-left: 0;
}
ul.wpfep-tabs li {
	display: inline-block;
	margin: 0 3px -1px 0;
}
ul.wpfep-tabs li a {
	padding: 4px 15px 6px;
	font-size: 18px;
	vertical-align: top;
	border-width: 1px;
	color: #555;
	border-color: #ccc;
	text-decoration: none;
	display: block;
	border-style: solid;
	background: #e4e4e4;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
ul.wpfep-tabs li.highlight a {
	background-color: #922540;
	color: #FFFFFF;
	border-color: #84273e;
}
ul.wpfep-tabs li a.active {
	color: #000;
	border-bottom-color: #F1F1F1;
	background-color: #F1F1F1;
}
ul.wpfep-tabs li.highlight a.active {
	background-color: #C95874;
	color: #FFFFFF;
}
p.forgetmenot label {
    display: inline;
}
.wpfep_user_details h5:before{
	content: none;
}
.wpfep-wrapper p.updated {
    display: block !important;
}
/* field styles
-------------------------------------------------------------- */
.wpfep-registration-form input[type="text"], .wpfep-registration-form input[type="email"], .wpfep-registration-form input[type="password"], .wpfep-login-form input[type="text"], .wpfep-login-form input[type="password"], #lostpasswordform input[type="text"], #resetpasswordform input[type="password"] {
    width: 100%;
}
.wpfep_editing_disabled{
	color: red;
}
.wpfep-field {
	margin-bottom: 24px;
}
.wpfep-field label {
	display: block;
	font-size: 1.6rem;
	margin-bottom: 4px;
}
.wpfep-select-field label,
.wpfep-checkbox-field label {
	display: inline;
	margin-right: 10px;
}
label.wpfep_save_description {
	display: none;
}
.wpfep-field input,
.wpfep-textarea-field textarea {
	margin-bottom: 4px;
	padding: 5px;
	font-size: 1.4rem;
	color: #666666;
}
.wpfep-field input[type="text"],
.wpfep-field input[type="email"],
.wpfep-field input[type="password"],
.wpfep-textarea-field textarea {
	width: 100%;
}
.wpfep-field p.description {
	font-size: 1.2rem;
	font-style: italic;
	color: #999999;
}
.wpfep-select-field p.description,
.wpfep-checkbox-field p.description {
	display: inline;
}
.wpfep-select-field select {
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #333;
	outline: 0;
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
	padding: 2px;
	line-height: 28px;
	height: 28px;
	vertical-align: middle;
	font-size: 1.5rem;
	margin-right: 10px;
}
.wpfep-field textarea.wp-editor-area,
.wpfep-field .quicktags-toolbar {
	border: 1px solid #CCCCCC;
}
.wpfep-field textarea.wp-editor-area {
	border-top: none;
}
.wpfep-field .quicktags-toolbar {
	border-bottom: none;
}
p.error,
p.updated {
	background-color: #F2F2F2;
	padding: 10px;
	padding-left: 14px;
	border-left: 3px solid #7ad03a;
}
p.error {
	border-left: 3px solid #990000;
}
.wpfep-login-alert,.wpfep-message {
    background: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d3b;
    margin: 10px 0 20px 0;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
}
.wpfep-success{
	padding: 6px 9px;
    margin: 0 auto 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: #e7f7d3;
    border: 1px solid #6c3;
}
.wpfep-error {
    padding: 6px 9px;
    margin: 0 auto 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: #ffebe8;
    border: 1px solid #C00;
}
.wpfep-required {
	color :red;
}
.wpfep-registration-form ul li {
    margin: 0;
    padding-bottom: 14px;
    list-style: none;
}

li.wpfep-form-field.wpfep-default-user-bio label {
    vertical-align: top;
}
.wpfep-avatar img {
    width: 20%;
    height: auto;
    border-radius: 50%;
}
.wpfep-registration-form label,.wpfep-login-form label, #lostpasswordform label {
   display: block;
}

/*Profile page*/
.wpfep_user_details h5 {
    text-align: center;
}
.wpfep-profile-sidebar>img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    width: 75%;
}
.wpfep-profile-item-ul li {
    list-style: none;
}
ul.wpfep-profile-item-ul {
    border: 1px solid #e6e6e6;
}
.wpfep-lg-3{
	box-shadow: 0px 0px 5px 0px #ddd;
}
.wpfep-pagination ul.page-numbers li{
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.wpfep-pagination {
	padding-top: 20px;
}
.wpfep-profile-items, .wpfep-profile-sidebar{
	margin-bottom: 10px;
}
.wpfep_user_details h5 {
    font-weight: 400;
    font-size: 0.83em;
}
@media screen and (min-width: 64em){
	.wpfep-columns{
		width: 100%;
	    float: left;
	    padding-left: .625rem;
	    padding-right: .625rem;
	}
	.wpfep-lg-3{
		width: 25%;
		padding-left: .9375rem;
    	padding-right: .9375rem;
    	
	}
	.wpfep-lg-9 {
    	width: 75%;
	}
	ul.wpfep-profile-item-ul {
	    padding: 25px;
	    margin: 0;
	}
	.wpfep-pagination ul.page-numbers li{
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    display: inline-block;
	}
	.wpfep-pagination {
    	padding-top: 20px;
	}
}
@media only screen and (max-width: 1024px) {
	.wpfep-profile-sidebar>img {
	    border-radius: 50%;
	    margin: 0 auto;
	    display: block;
	    width: 140px !important;
	}
	ul.wpfep-profile-item-ul {
	    margin-bottom: 0;
	}
	.wpfep_user_details {
	    padding: 15px;
	}
	ul.wpfep-profile-item-ul {
	    padding: 15px;
	}
}
@media only screen and (min-width: 320px){
.wpfep-fields .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

ul.wpfep-profile-item-ul {
    margin: 0px;
}
#wpfep_registration_form ul {
    margin: 0px;
    padding: 0px;
}
	}
.wpfep-default-role :checked {
    border: 3px solid #0586BE;
    -webkit-appearance: none;
}
.wpfep-custom-role :checked {
    border: 3px solid #0586BE;
    -webkit-appearance: none;
}
input.wpfep-showform-default{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
}
input.wpfep-showform-custom{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
}
select#wfp-user-role {
    font-size: 14px;
    line-height: 2;
    color: #32373c;
    border-color: #7e8993;
    box-shadow: none;
    border-radius: 3px;
    min-height: 30px;
    max-width: 25rem;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    width: 214px;
    padding: 7px;
    margin-bottom: 14px;
}
.wpfep-default-user-role label {
   display: inline;
}
label.wpfep-showform-custom {
    margin-left: 15px;
}